<html>
<head>
    <meta charset="utf-8">
    <title>helloworld</title>
    <link rel="stylesheet" href="css/index.css" >
</head>

<body>
    <h2>这是一个index.ejs模板文件</h2>
    <h3 class="b">aid是<%=baid%></h3>
    <ul>
        <% for (var i=0;i<listarr.length;i++) {%>
                <li><%=listarr[i]%></li>
        <%}%>
    </ul>
</body>
</html>